[project]
	description = To gemify the assets of `bootstrap-tagsinput` jQuery plugin for Rails >= 3.1 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Hyo Seong Choi (luciuschoi)
[access "refs/for/refs/*"]
	read = group user/Hyo Seong Choi (luciuschoi)
	push = group user/Hyo Seong Choi (luciuschoi)
	label-Code-Review = -2..+2 group user/Hyo Seong Choi (luciuschoi)
	label-Verified = -1..+1 group user/Hyo Seong Choi (luciuschoi)
	rebase = group user/Hyo Seong Choi (luciuschoi)
	removeReviewer = group user/Hyo Seong Choi (luciuschoi)
	submit = group user/Hyo Seong Choi (luciuschoi)
[access "refs/heads/*"]
	read = group user/Hyo Seong Choi (luciuschoi)
	create = group user/Hyo Seong Choi (luciuschoi)
	push = +force group user/Hyo Seong Choi (luciuschoi)
	pushMerge = group user/Hyo Seong Choi (luciuschoi)
[access "refs/tags/*"]
	push = +force group user/Hyo Seong Choi (luciuschoi)
	pushTag = group user/Hyo Seong Choi (luciuschoi)
	pushSignedTag = group user/Hyo Seong Choi (luciuschoi)
